In [4]:
import pandas
import matplotlib.pyplot
import seaborn
import numpy
from os import path

In [4]:
red_wines = pandas.read_csv(path.realpath('winequality-red.csv'), error_bad_lines=False)
white_wines = pandas.read_csv(path.realpath('winequality-white.csv'), error_bad_lines=False)

In [5]:
len(red_wines)

1599

In [6]:
len(white_wines)

4898

In [7]:
red_wines.shape

(1599, 1)

In [8]:
white_wines.shape

(4898, 1)

In [9]:
white_wines.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>4898</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>3961</td>
    </tr>
    <tr>
      <th>top</th>
      <td>7.3;0.19;0.27;13.9;0.057;45;155;0.99807;2.94;0...</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [10]:
red_wines.describe()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>count</th>
      <td>1599</td>
    </tr>
    <tr>
      <th>unique</th>
      <td>1359</td>
    </tr>
    <tr>
      <th>top</th>
      <td>7.5;0.51;0.02;1.7;0.084;13;31;0.99538;3.36;0.5...</td>
    </tr>
    <tr>
      <th>freq</th>
      <td>4</td>
    </tr>
  </tbody>
</table>
</div>